@font-face {
    font-family: 'Nanum Square Neo';
    src: url('../../fonts/NanumSquareNeo-aLt.ttf') format('truetype');
    font-style: normal;
}

.review-header {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* 테이블 컨테이너 */
.review-table-container {
    margin-top: 20px;
    height:700px;

  }
  
  .review-table {
    width: 1500px; /* 테이블 전체 넓이를 화면 너비에 맞춤 */
    border-collapse: collapse;
    table-layout: fixed; /* 고정된 레이아웃 */
    text-align: center; /* 모든 셀의 텍스트 가로 가운데 정렬 */
    font-family: 'Nanum Square Neo', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .review-table th, .review-table td {
    border: 1px solid #959595;
    padding: 20px;
    word-wrap: break-word; /* 긴 텍스트 줄바꿈 */
    text-align: center; /* 가로 중앙 정렬 */
    vertical-align: middle; /* 세로 중앙 정렬 */
    line-height: 20px; 
  }
  
  .review-table th {
    background-color: #d1d1d1;
    font-weight: bold;
    text-align: center;
    vertical-align: middle; /* 헤더 셀도 세로 중앙 정렬 */
  }

  
  .pagination-box {
    width: 1500px; /* 테이블 너비에 맞춤 */
    height:50px;
    margin-left:20px;
    border: none; /* 박스 테두리 */
    border-radius: 8px; /* 박스 모서리 둥글게 */
    background-color: #f9f9f9; /* 박스 배경색 */
    display: flex;
    justify-content: center; /* 페이지 버튼 가운데 정렬 */
  }
  