.add-button {
    display: flex;
    align-items: center;
    padding: 10px 15px; /* 버튼 패딩 */
    background-color: #ffffff; /* 버튼 배경색 */
    color: rgb(0, 0, 0); /* 텍스트 색상 */
    border: none;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial, sans-serif';
    font-weight: bold;
}

.button-icon {
    width: 20px; /* 아이콘 크기 */
    height: 20px;
    margin-right: 8px; /* 아이콘과 텍스트 간격 */
}

