/* jobPosting.css */

@font-face {
    font-family: 'Nanum Square Neo';
    src: url('../../assets/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nanum Square Neo';
    src: url('../../assets/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
    font-weight: 700;
    font-style: extra;
  }
  
  .job-posting-container {
    width: 100%;
    font-family: 'Nanum Square Neo', sans-serif;
  }
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    border-bottom: 1.2px solid #B5B5B5;
    background-color: #FFFFFF;
  }
  
  /* 로고, 검색창, 메뉴 */
  .navbar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo-search {
    display: flex;
    align-items: center;
    gap: 40px; /* 로고와 검색창 사이 간격 */
  }
  
  /* 로고 */
  .logo {
    font-size: 45px;
    font-weight: 700;
    color: #000000;
    display: flex;
    align-items: center;
  }
  
  /* 검색창 */
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .search-container input {
    font-family: 'Nanum Square Neo', sans-serif;
    font-size: 16px;
  }
  
  .search-input {
    width: 380px;
    height: 28px;
    padding: 8px 15px;
    border: 1.2px solid #7A6E6E;
    border-radius: 50px;
    font-size: 18px;
    color: #4D4D4D;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    right: 14px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* 메뉴 */
  .nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 40px 0 0 0; /* 로고 아래에 20px 간격 */
  }

  .nav-links button {
    background: none;
    border: none;
    font-size: 17px;
    color: #000000;
    cursor: pointer;
    font-family: 'Nanum Square Neo', sans-serif;
    padding: 0;
}


.nav-links button:hover {
    text-decoration: none;
    color: #00257A; 
    font-weight: 700;
}


.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  min-width: 160px;
}


.dropdown-content button {
  background: none;
  border: none;
  color: black;
  padding: 8px 12px;
  text-align: left;
  display: block;
  width: 100%;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}


.nav-links li:hover .dropdown-content {
  display: block;
}

  /* 오른쪽 그룹: 회원가입 및 로그인 */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
  
.auth-link {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: #000000;
  cursor: pointer;
  font-family: 'Nanum Square Neo', sans-serif;
  background: none;
  border: none;
}


  